

<!-- <div class="card">
    <form [formGroup]="userForm" >
      <div class="mt-5">
        <div class="form-row">
          <div class="col-md-12">
            <div class="form-group">
              <label > Name </label>
            </div>
            <div class="form-row">
                <div class="col">
                  <input type="text" formControlName="name" class="form-control" placeholder="name">
                </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label > Adress </label>
            </div>
            <div class="form-row">
                <div class="col">
                  <input type="text" formControlName="address" class="form-control" placeholder="adress">
                </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label > Contact No </label>
            </div>
            <div class="form-row">
                <div class="col">
                  <input type="text" formControlName="ContactNo" class="form-control" placeholder="ContactNo">
                </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label > Gender </label>
            </div>
            <div class="form-row">
                <div class="col">
                  <input type="text" formControlName="gender" class="form-control" placeholder="gender">
                </div>
            </div>
          </div>
          <br>
          <div class="form-row mt-4">
            <div class="col-md-6">
              <button type="button" class="btn btn-primary" (click)="addItem()">Add</button> &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;    &nbsp; &nbsp;
              <button type="button" class="btn btn-primary" (click)="reset()">reset</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="col-md-8 mt-4 mb-4">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Contact No</th>
            <th>Gender</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let item of listData">
            <td>{{item.name}}</td>
            <td>{{item.address}}</td>
            <td>{{item.ContactNo}}</td>
            <td>{{item.gender}}</td>
            <td><button type="button" class="btn btn-primary" (click)="removeItems(item)">Remove</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->
    <!-- <div class="card">
      <form (ngSubmit)="onSubmit()">
        <div class="name"> 
          <p>{{userFname}} {{userLname}}</p> 
        </div>
        <textarea name="post" placeholder="What do you want to share or ask?" id="post" cols="90" rows="3"></textarea>
        <div class="btn-group">
          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Choose Topic
          </button>
          <div class="dropdown-menu"> 
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Education</a>
            <a class="dropdown-item" href="#">Programming</a>
            <a class="dropdown-item" href="#">Food</a>
            <a class="dropdown-item" href="#">Traveling</a>
            <a class="dropdown-item" href="#">Books</a>
          </div>
        </div>
        <div class="submitBtn">
        <button type="button" class="btn btn-info">Submit</button>
        </div>
      </form>
    </div> -->


 
