<div
  class="card"
  style="width: 18rem; margin-top: 10px"
  *ngFor="let student of students$; index as i"
>
  <div class="card-header title">
    <span class="id">{{ student.$key }}</span>
    <span class="edit" (click)="onClick(i)"
      ><i class="bi bi-pencil-square editing"></i
    ></span>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      {{ student.firstName + " " + student.lastName }}
    </li>
    <li class="list-group-item">{{ student.email }}</li>
    <li class="list-group-item">{{ student.mobileNumber }}</li>
  </ul>
</div>
