<div class="container-fluid">
    <div class="row">
        <div class="col-3 px-1 bg-dark position-fixed" id="sticky-sidebar">
            <div class="nav flex-column flex-nowrap vh-100 overflow-auto text-white p-2">
                <a href="./" class="nav-link">Link</a>
                <a href="./" class="nav-link">Link</a>
                <a href="./" class="nav-link">Link</a>
                <a href="./" class="nav-link">Link</a>
                <a href="./" class="nav-link">Link</a>
                <a href="./" class="nav-link">Link ...</a>
            </div>
        </div>
        <div class="col-9 offset-3" id="main">
           
        </div>
    </div>

    <router-outlet></router-outlet>
