<div class="sidenav">
    <p>TOPICS</p>
    <a 
      class="nav-link"
      routerLink="topics/education"
      img src="assets/images/education.png" class="img-fluid"
      class="education"
    > Education</a>

    <a 
      class="nav-link"
      routerLink="topics/programming"
      routerLinkActive="active"
      class="education"
    > Programming</a>

    <a 
      class="nav-link"
      routerLink="topics/food"
      routerLinkActive="active"
      class="education"
    > Food</a>

    <a 
      class="nav-link"
      routerLink="topics/traveling"
      routerLinkActive="active"
      class="education"
    > Traveling</a>

    <a 
      class="nav-link"
      routerLink="topics/books"
      routerLinkActive="active"
      class="education"
    > Books</a>
  </div>